<ng-container *ngrxLet="teamDetails$ as teamDetailsAsync">
  <ion-header>
    <ion-toolbar>
      <ion-title>My team</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="openModal()">Change team</ion-button>
      </ion-buttons>
      <ion-progress-bar type="indeterminate" *ngIf="isLoading$ | ngrxPush"></ion-progress-bar>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngrxLet="isUserLoggedIn$ as isUserLoggedIn">
    <ion-content *ngIf="!isUserLoggedIn">
      <div class="h-100 flex-col ion-justify-content-center ion-align-items-center">
        <h2>Login to choose a favorite team</h2>
        <ion-button (click)="onLoginClicked()">Login</ion-button>
      </div>
    </ion-content>

    <ion-content *ngIf="isUserLoggedIn && !(teamDetailsAsync | isAsyncLoading) && !(teamDetailsAsync | unwrapAsync)">
      <div class="h-100 flex-col ion-justify-content-center ion-align-items-center">
        <h2>Choose your favorite team</h2>
        <ion-button (click)="openModal()">Choose</ion-button>
      </div>
    </ion-content>
    
    
    <ion-content *ngIf="(teamDetailsAsync | unwrapAsync) as teamDetails">  
      <app-team-detail [teamDetails]="teamDetails"></app-team-detail>
    </ion-content>
  </ng-container>

</ng-container>
