<ng-container *ngrxLet="teamDetails$ as teamDetailsAsync">
  <ion-header>
    <ion-toolbar>
      <ion-title>My team</ion-title>
      <ion-buttons slot="primary" collapse>
        <toolbar-icon-button (click)="openModal()" icon="swap-vertical" />
      </ion-buttons>
      <ion-progress-bar type="indeterminate" *ngIf="isLoading$ | ngrxPush"></ion-progress-bar>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngrxLet="isUserLoggedIn$ as isUserLoggedIn">
    <ion-content *ngIf="!isUserLoggedIn">
      <div class="full-height flex-col ion-justify-content-center ion-align-items-center">
        <h2>Login to choose a favorite team</h2>
        <ion-button (click)="onLoginClicked()">Login</ion-button>
      </div>
    </ion-content>

    <ion-content *ngIf="isUserLoggedIn && !(teamDetailsAsync | isAsyncLoading) && !(teamDetailsAsync | unwrapAsync)">
      <div class="full-height flex-col ion-justify-content-center ion-align-items-center">
        <h2>Choose your favorite team</h2>
        <ion-button (click)="openModal()">Choose</ion-button>
      </div>
    </ion-content>

    <ion-content *ngIf="(teamDetailsAsync | unwrapAsync) as teamDetails" [fullscreen]="true" class="scroll-behind-header top-image-container"> 
      <div class="top-image-wrapper">
        <img [src]="teamDetails.bannerUrl" class="top-image" />
      </div>

      <div class="page-content">
        <app-team-detail [teamDetails]="teamDetails"></app-team-detail>
      </div>
    </ion-content>
  </ng-container>

</ng-container>
