<ion-header>
  <ion-toolbar>
    <ion-title>Transactions</ion-title>
  </ion-toolbar>
  @if (userProfile().isAthlete) {
  <ion-toolbar>
    <ion-segment class="w-100 ion-margin-horizontal">
      <ion-segment-button value="user-transactions" content-id="user-transactions">
        <ion-label>User</ion-label>
      </ion-segment-button>

      <ion-segment-button value="managed-athletes-transactions" content-id="managed-athletes-transactions">
        <ion-label>Athlete</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  }
</ion-header>

<!-- If athlete, give option to show either view -->
@if (userProfile().isAthlete) {
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-segment-view>
    <ion-segment-content id="user-transactions">
      <app-user-transactions-view
        [transactions]="userTransactions$()"
        [transactionSummary]="userTransactionSummary$()"
      ></app-user-transactions-view>
    </ion-segment-content>

    <ion-segment-content id="managed-athletes-transactions">
      <app-athlete-transactions-view
        [transactions]="managedAthletesTransactions$()"
        [raffleSummary]="managedAthletesRaffleSummary$()"
      ></app-athlete-transactions-view>
    </ion-segment-content>
  </ion-segment-view>
</ion-content>
}
<!-- Just show user transactions if there isnt anything to switch between -->
@else {
<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <app-user-transactions-view
    [transactions]="userTransactions$()"
    [transactionSummary]="userTransactionSummary$()"
  ></app-user-transactions-view>
</ion-content>
}