<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding="ion-padding">
  <ion-grid>
    <!-- Top text -->
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-icon name="ban-outline" class="icon-xxl"></ion-icon>
        <ion-text><h1 class="ion-text-xl">Reset Password</h1></ion-text>
        <ion-text><p>Enter your email and we'll send you a reset link</p></ion-text>
      </ion-col>
    </ion-row>


    <!-- Email/Password login (optional) -->
    <ion-row>
      <ion-col>
        <form (ngSubmit)="resetPasswordClicked()">
          <ion-row>
            <ion-col>
              <ion-input
                [formControl]="resetPasswordForm.controls.email"
                name="email"
                type="email"
                label="Email"
                labelPlacement="floating"
                errorText="Please enter a valid email"
              ></ion-input>
            </ion-col>
          </ion-row>
        
          <ion-row>
            <ion-col>
              <ion-button expand="block" type="submit">
                Reset Password
              </ion-button>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button expand="block" fill="clear" (click)="onLoginClicked()">
                Back to login
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
