<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-chip (click)="onCancelClicked()">Cancel</ion-chip>
    </ion-buttons>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end">
      <ion-chip (click)="onUpdateUserProfileClicked()">Save</ion-chip>
    </ion-buttons>
  </ion-toolbar>
  <ion-progress-bar type="indeterminate" *ngIf="userProfile$ | ngrxPush | isAsyncLoading"></ion-progress-bar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-row class="ion-justify-content-center">
          <ion-col size="auto">
            <app-user-profile-avatar
              size="xxlarge"
              editMode
              [formControl]="form.controls.avatarUrl"
              [border]="true"
            ></app-user-profile-avatar>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-col>
            <ion-input
              [formControl]="form.controls.firstName"
              label="First Name"
              labelPlacement="stacked"
              placeholder="First Name"
              errorText="First Name is required"
            ></ion-input>
          </ion-col>
          <ion-col>
            <ion-input
              [formControl]="form.controls.lastName"
              label="Last Name"
              labelPlacement="stacked"
              placeholder="Last Name"
              errorText="Last Name is required"
            ></ion-input>
          </ion-col>
        </ion-row>
  
        <ion-row>
          <ion-col>
            <ion-input
              [formControl]="form.controls.email"
              type="email"
              label="Email"
              labelPlacement="stacked"
              placeholder="email@domain.com"
              errorText="Please enter a valid email"
            ></ion-input>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
