<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="onCloseClicked()">Close</ion-button>
        </ion-buttons>
        <ion-title>{{ 'Select City' }}</ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar [formControl]="searchText"></ion-searchbar>
    </ion-toolbar>
</ion-header>
    
<ion-content>
    <div *ngIf="isLoading() === true" class="w-100 ion-padding flex-row ion-justify-content-center ion-align-items-center gap-2">
        <ion-text>Loading</ion-text>
        <ion-spinner *ngIf="true" name="dots"></ion-spinner>
    </div>

    <div *ngIf="isLoading() === false">
        <div *ngIf="error() !== undefined" class="w-100 ion-padding flex-row ion-justify-content-center ion-align-items-center gap-2">
            <ion-text color="danger">{{ error() }}</ion-text>
            <ion-button fill="clear" (click)="retrySearch()">
                <ion-icon slot="icon-only" name="refresh-outline"></ion-icon>
            </ion-button>
        </div>

        <ion-list [inset]="true" *ngIf="error() === undefined">
            @for (item of results(); track item.id) {
            <ion-item button (click)="onCitySelected(item)">
                <ion-label>{{ item.city }}, {{ item.region }}</ion-label>
            </ion-item>
            }
        </ion-list>
    </div>

</ion-content>
