<ion-header>
  <ion-toolbar>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar 
      animated 
      showCancelButton="focus"
      placeholder="Search for teams or athletes"
      [formControl]="searchQueryControl"
      [maxlength]="50"
      (ionFocus)="isSearchFocused.set(true)"
      (ionCancel)="isSearchFocused.set(false)"
    ></ion-searchbar>
  </ion-toolbar>
  <ion-progress-bar type="indeterminate" *ngIf="isSearchLoading$ | ngrxPush"></ion-progress-bar>
</ion-header>

<ion-content padding="ion-padding" *ngrxLet="allSearchItems$ as allSearchItems">
  <ion-list *ngIf="isSearchFocused()">
    <ion-list-header>
      <ion-label>Search Results</ion-label>
    </ion-list-header>

    <ion-item
      *ngFor="let searchItem of allSearchItems"
      button
      (click)="onSearchItemClicked(searchItem)"
    >
      <app-user-profile-avatar slot="start" size="small" [avatarSrc]="searchItem.imgSrc"></app-user-profile-avatar>
      <ion-label>
        <ion-text><b>{{ searchItem.title }}</b></ion-text><br />
        <ion-text><ion-note color="medium">{{ searchItem.subtitle }}</ion-note></ion-text>      
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-grid *ngIf="!isSearchFocused()">
    <!-- Trending Raffles -->
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-row>
          <ion-col>
            <ion-list-header class="ion-no-padding">
              <ion-label>Open Raffles</ion-label>
              <ion-button>See all</ion-button>
            </ion-list-header>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col
            size="12"
            style="
              display: flex;
              flex-direction: row;
              gap: 0.5rem;
              overflow-x: scroll;
            "
          >
            <app-raffle-preview-card
              *ngFor="let raffle of mockRaffles"
              [raffle]="raffle"
            ></app-raffle-preview-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <!-- Trending Teams -->
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-row>
          <ion-col>
            <ion-list-header class="ion-no-padding">
              <ion-label>Trending Teams</ion-label>
              <ion-button>See all</ion-button>
            </ion-list-header>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col
            size="12"
            style="
              display: flex;
              flex-direction: row;
              gap: 0.5rem;
              overflow-x: scroll;
            "
          >
            <app-team-preview-card
              *ngFor="let team of ((allTeams$ | ngrxPush) ?? [])"
              [team]="team"
              (click)="onTeamClicked(team.id)"
            ></app-team-preview-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <!-- Trending Athletes -->
    <ion-row>
      <ion-col>
        <ion-list-header class="ion-no-padding">
          <ion-label>Trending Athletes</ion-label>
          <ion-button>See all</ion-button>
        </ion-list-header>
        <ion-list [inset]="true">
          <app-athlete-preview-item
            *ngFor="let athlete of ((allAthletes$ | ngrxPush) ?? [])"
            [athlete]="athlete"
          ></app-athlete-preview-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
