<ion-header>
  <ion-toolbar></ion-toolbar>
  <ion-toolbar>
    <ion-searchbar 
      animated 
      show-cancel-button="focus"
      placeholder="Search for teams or athletes"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding="ion-padding">
  <ion-grid>
    <!-- Trending Raffles -->
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-row>
          <ion-col>
            <ion-list-header class="ion-no-padding">
              <ion-label>Open Raffles</ion-label>
              <ion-button>See all</ion-button>
            </ion-list-header>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col
            size="12"
            style="
              display: flex;
              flex-direction: row;
              gap: 0.5rem;
              overflow-x: scroll;
            "
          >
            <app-raffle-preview-card
              *ngFor="let raffle of mockRaffles"
              [raffle]="raffle"
            ></app-raffle-preview-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <!-- Trending Teams -->
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-row>
          <ion-col>
            <ion-list-header class="ion-no-padding">
              <ion-label>Trending Teams</ion-label>
              <ion-button>See all</ion-button>
            </ion-list-header>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col
            size="12"
            style="
              display: flex;
              flex-direction: row;
              gap: 0.5rem;
              overflow-x: scroll;
            "
          >
            <app-team-preview-card
              *ngFor="let team of ((allTeams$ | async) ?? [])"
              [team]="team"
              (click)="onTeamClicked(team.id)"
            ></app-team-preview-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <!-- Trending Athletes -->
    <ion-row>
      <ion-col>
        <ion-list-header class="ion-no-padding">
          <ion-label>Trending Athletes</ion-label>
          <ion-button>See all</ion-button>
        </ion-list-header>
        <ion-list [inset]="true">
          <app-athlete-preview-item
            *ngFor="let athlete of ((allAthletes$ | async) ?? [])"
            [athlete]="athlete"
          ></app-athlete-preview-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
