.custom-card {
  --card-width: 9rem;
  --card-padding: 0.75rem;
  --card-items-gap: 0.5rem;
  --card-title-size: 1rem;
  --card-content-size: 0.875rem;

  margin: 0;
  padding: var(--card-padding);
  width: var(--card-width);

  ion-card-header {
    padding: 0;
    margin-bottom: var(--card-items-gap);
  }

  ion-card-title {
    font-size: var(--card-title-size);
  }

  ion-card-content {
    padding: 0;
    margin-bottom: var(--card-items-gap);
    font-size: var(--card-content-size);
  }
}
