<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding="ion-padding">
  <ion-grid>
    <!-- Top text -->
    <ion-row>
      <ion-col class="ion-text-center">
        <img src="assets/icon/favicon.png" alt="Logo" />
        <ion-text><h1 class="ion-text-xl">Welcome Back</h1></ion-text>
        <ion-text><p>Login to continue</p></ion-text>
      </ion-col>
    </ion-row>


    <!-- Email/Password login (optional) -->
    <ion-row>
      <ion-col>
        <form (ngSubmit)="loginWithEmail()">
          <ion-row>
            <ion-col>
              <ion-input
                [formControl]="loginForm.controls.email"
                name="email"
                type="email"
                label="Email"
                labelPlacement="stacked"
                placeholder="Email"
              ></ion-input>
            </ion-col>
          </ion-row>
    
          <ion-row>
            <ion-col>
              <ion-input
                [formControl]="loginForm.controls.password"
                name="password"
                type="password"
                label="Password"
                labelPlacement="stacked"
                placeholder="Password"
              >
                <ion-input-password-toggle slot="end"></ion-input-password-toggle>
              </ion-input>
            </ion-col>
          </ion-row>
    
          <ion-row>
            <ion-col>
              <ion-button expand="block" type="submit" class="mt-2">
                Login
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>

    <!-- Divider -->
     <ion-row class="ion-margin-vertical">
      <ion-col>
        <shared-divider text="or"></shared-divider>
      </ion-col>
     </ion-row>

    <!-- Social Logins -->
    <ion-row>
      <ion-col>
          <ion-button
            color="light"
            expand="block"
            (click)="loginWithProvider('google')"
          >
            <ion-icon slot="start" name="logo-google"></ion-icon>
            Continue with Google
          </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <ion-button
            color="dark"
            expand="block"
            (click)="loginWithProvider('apple')"
          >
            <ion-icon slot="start" name="logo-apple"></ion-icon>
            Continue with Apple
          </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
