<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onRegisterClicked()">Sign up</ion-button>
    </ion-buttons>
    <ion-progress-bar type="indeterminate" *ngIf="isLoading$ | async"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <!-- Top text -->
    <ion-row class="ion-margin-bottom">
      <ion-col>
        <ion-text><ion-note>Please sign in to continue</ion-note></ion-text>
      </ion-col>
    </ion-row>


    <!-- Email/Password login (optional) -->
    <ion-row class="ion-margin-vertical">
      <ion-col>
        <form (ngSubmit)="loginWithEmail()">
          <ion-row>
            <ion-col>
              <ion-input
                [formControl]="loginForm.controls.email"
                name="email"
                type="email"
                label="Email"
                labelPlacement="floating"
                errorText="Please enter a valid email"
              ></ion-input>
            </ion-col>
          </ion-row>
    
          <ion-row>
            <ion-col>
              <ion-input
                [formControl]="loginForm.controls.password"
                name="password"
                type="password"
                label="Password"
                labelPlacement="floating"
                errorText="Password is required"
              >
                <ion-button slot="end" fill="clear" size="small" *ngIf="loginForm.controls.password.dirty" (click)="onForgotPasswordClicked()">FORGOT</ion-button>
              </ion-input>
            </ion-col>
          </ion-row>
    
          <ion-row class="ion-margin-vertical">
            <ion-col>
              <ion-button expand="block" type="submit">
                Login
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>

    <ng-container *ngIf="false">
      <!-- Divider -->
       <ion-row class="ion-margin-vertical">
        <ion-col>
          <shared-divider text="or"></shared-divider>
        </ion-col>
       </ion-row>
  
      <!-- Social Logins -->
      <ion-row>
        <ion-col>
            <ion-button
              disabled
              color="light"
              expand="block"
              (click)="loginWithProvider('google')"
            >
              <ion-icon slot="start" name="logo-google"></ion-icon>
              Continue with Google
            </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <ion-button
              disabled
              color="dark"
              expand="block"
              (click)="loginWithProvider('apple')"
            >
              <ion-icon slot="start" name="logo-apple"></ion-icon>
              Continue with Apple
            </ion-button>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>
</ion-content>
