<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content class="ion-safe-area-padding">
        <ion-list>
          <ion-menu-toggle [autoHide]="false" *ngIf="(userProfile$ | async) as userProfile">
            <app-user-profile-item button [userProfile]="userProfile" (onClick)="onUserProfileClicked()"></app-user-profile-item>
          </ion-menu-toggle>

          @for (p of appPages; track p; let i = $index) {
            <ion-menu-toggle [autoHide]="false">
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          }
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
