<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-chip *ngIf="!(isEditMode$ | async)" (click)="onEditClicked()">edit</ion-chip>
      <ion-chip *ngIf="isEditMode$ | async" (click)="onCancelClicked()">cancel</ion-chip>
    </ion-buttons>
    <ion-title>Profile</ion-title>
    <ion-progress-bar type="indeterminate" *ngIf="userProfile$ | async | isAsyncLoading"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- View and Edit components -->
  <router-outlet></router-outlet>
</ion-content>
