<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-chip *ngIf="!(isEditMode$ | async)" (click)="onEditClicked()">edit</ion-chip>
      <ion-chip *ngIf="isEditMode$ | async" (click)="onCancelClicked()">cancel</ion-chip>
    </ion-buttons>
    <ion-title>Profile</ion-title>
    <ion-progress-bar type="indeterminate" *ngIf="userProfile$ | async | isAsyncLoading"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="h-100 flex-col">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Profile</ion-title>
      </ion-toolbar>
    </ion-header>

    <!-- View and Edit components -->
    <router-outlet></router-outlet>
  
    <ion-button fill="outline" color="danger" expand="block" (click)="onLogoutClicked()" class="ion-padding" style="margin-top: auto;">Logout</ion-button>
  </div>

</ion-content>
