<ng-container *ngrxLet="teamDetails$ as teamDetailsAsync">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{ (teamDetailsAsync | unwrapAsync)?.school?.abbreviation }}</ion-title>
      <ion-buttons slot="start">
        <app-back-button></app-back-button>
      </ion-buttons>
      <ion-progress-bar type="indeterminate" *ngIf="teamDetailsAsync | isAsyncLoading"></ion-progress-bar>
    </ion-toolbar>
  </ion-header>
  
  <ion-content 
    *ngIf="(teamDetailsAsync | unwrapAsync) as teamDetails" 
    [fullscreen]="true" 
    class="scroll-behind-header top-image-container"
  > 
    <div class="top-image-wrapper">
      <img [src]="teamDetails.bannerUrl" class="top-image" />
    </div>

    <div class="page-content">
      <app-team-detail [teamDetails]="teamDetails"></app-team-detail>
    </div>
  </ion-content>
</ng-container>
