<ng-container *ngrxLet="teamDetails$ as teamDetailsAsync">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{ (teamDetailsAsync | unwrapAsync)?.school?.abbreviation }}</ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-progress-bar type="indeterminate" *ngIf="teamDetailsAsync | isAsyncLoading"></ion-progress-bar>
    </ion-toolbar>
  </ion-header>
  
  <ion-content
    [fullscreen]="true"
    *ngIf="(teamDetailsAsync | unwrapAsync) as teamDetails"
  >
    <app-team-detail [teamDetails]="teamDetails"></app-team-detail>
  </ion-content>
</ng-container>
