<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-progress-bar type="indeterminate" *ngIf="isLoading$ | async"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Register</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <!-- Top text -->
    <ion-row class="ion-margin-bottom">
      <ion-col>
        <ion-text><ion-note>Sign up to get started</ion-note></ion-text>
      </ion-col>
    </ion-row>


    <!-- Registration form -->
    <ion-row class="ion-margin-vertical">
      <ion-col>
        <form (ngSubmit)="signupWithEmail()">
          <ion-row>
            <ion-col>
              <ion-input
                [formControl]="userSignupForm.controls.firstName"
                name="first name"
                label="First Name"
                labelPlacement="stacked"
                placeholder="First Name"
                errorText="First Name is required"
              ></ion-input>
            </ion-col>
            <ion-col>
              <ion-input
                [formControl]="userSignupForm.controls.lastName"
                name="last name"
                label="Last Name"
                labelPlacement="stacked"
                placeholder="Last Name"
                errorText="Last Name is required"
              ></ion-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-input
                [formControl]="userSignupForm.controls.email"
                name="email"
                type="email"
                label="Email"
                labelPlacement="stacked"
                placeholder="email@domain.com"
                errorText="Please enter a valid email"
              ></ion-input>
            </ion-col>
          </ion-row>
    
          <ion-row>
            <ion-col>
              <ion-input
                [formControl]="userSignupForm.controls.password"
                name="password"
                type="password"
                label="Password"
                labelPlacement="stacked"
                placeholder="password"
                errorText="'Password must be at least 8 characters long and include uppercase, lowercase, number, and special character.'"
              >
                <ion-input-password-toggle slot="end"></ion-input-password-toggle>
              </ion-input>
            </ion-col>
          </ion-row>
    
          <ion-row>
            <ion-col>
              <ion-button expand="block" type="submit">
                Create Account
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>

    <div *ngIf="false">

      <!-- Divider -->
       <ion-row class="ion-margin-vertical">
        <ion-col>
          <shared-divider text="or"></shared-divider>
        </ion-col>
       </ion-row>
  
      <!-- Social Logins -->
      <ion-row>
        <ion-col>
            <ion-button
              disabled
              color="light"
              expand="block"
              (click)="signupWithProvider('google')"
            >
              <ion-icon slot="start" name="logo-google"></ion-icon>
              Continue with Google
            </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <ion-button
              disabled
              color="dark"
              expand="block"
              (click)="signupWithProvider('apple')"
            >
              <ion-icon slot="start" name="logo-apple"></ion-icon>
              Continue with Apple
            </ion-button>
        </ion-col>
      </ion-row>
    </div>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-text><ion-note>Already have an account? </ion-note><a (click)="onLoginClicked()">Log in</a></ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
