<ion-grid *ngIf="userProfile$ | async | unwrapAsync as userProfile">
  <ion-row>
    <ion-col>
      <ion-row class="ion-justify-content-center">
        <ion-col size="auto">
          <app-user-profile-avatar size="xxlarge"></app-user-profile-avatar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-text><h1 class="ion-text-xl">{{ userProfile.firstName }} {{ userProfile.lastName }}</h1></ion-text>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item>
          <ion-icon name="mail" slot="start"></ion-icon>
          <ion-label>
            <h3>Email</h3>
            <ion-note>{{ userProfile.email }}</ion-note>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button fill="outline" color="danger" expand="block" (click)="onLogoutClicked()">Logout</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
