<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onLogoutClicked()">Log out</ion-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end">
      <toolbar-text-button (click)="onEditClicked()">Edit</toolbar-text-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  @let isLoading = userProfile$().status === LoadingStatus;
  @if (isLoading) {
  <div>loading</div>
  }

  @let userProfile = userProfile$().data;
  @if (!isLoading && userProfile !== undefined) {
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-row class="ion-justify-content-center">
          <ion-col size="auto">
            <app-user-profile-avatar size="xxlarge" [avatarSrc]="userProfile.avatarUrl"
              [border]="true"></app-user-profile-avatar>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-text>
              <h1 class="ion-text-xl">
                {{ userProfile.firstName }} {{ userProfile.lastName }}
              </h1>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size="auto" *ngIf="userProfile.isAthlete">
            <shared-pill color="secondary">Athlete</shared-pill>
          </ion-col>
          <ion-col size="auto" *ngIf="userProfile.isTeamManager">
            <shared-pill color="tertiary">Team Manager</shared-pill>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size="auto" *ngIf="userProfile.isAdmin">
            <shared-pill>Admin</shared-pill>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list-header class="ion-margin-vertical">Personal Information</ion-list-header>
  <ion-list inset>
    <ion-item>
      <ion-icon name="mail" slot="start"></ion-icon>
      <ion-label>
        <h3>Email</h3>
        <ion-note>{{ userProfile.email }}</ion-note>
      </ion-label>
    </ion-item>
  </ion-list>

  @if (userProfile.isAthlete || userProfile.isTeamManager) {
  <ion-list-header class="ion-margin-vertical">My Pages</ion-list-header>

  @let managedTeamPages = managedTeamPages$();
  @if (managedTeamPages.length > 0) {
  <ion-list inset>
    <ion-item *ngFor="let team of managedTeamPages" button (click)="onTeamClicked(team.id)">
      <app-user-profile-avatar slot="start" [avatarSrc]="team.avatarUrl"></app-user-profile-avatar>
      <ion-label>{{ team.title }}</ion-label>
    </ion-item>
  </ion-list>
  }

  @let managedAthletePages = managedAthletePages$();
  @if (managedAthletePages.length > 0) {
  <ion-list inset>
    <ion-item *ngFor="let athlete of managedAthletePages" button (click)="onAthleteClicked(athlete.id)">
      <app-user-profile-avatar slot="start" [avatarSrc]="athlete.avatarUrl"></app-user-profile-avatar>
      <ion-label>{{ athlete.title }}</ion-label>
    </ion-item>
  </ion-list>
  }

  @let managedRaffles = managedRaffles$();
  @if (managedRaffles.length > 0) {
  <ion-list inset>
    <ion-item *ngFor="let raffle of managedRaffles" button (click)="onRaffleClicked(raffle.id)">
      <ion-label>{{ raffle.title }}</ion-label>
    </ion-item>
  </ion-list>
  }
  }
  }
</ion-content>