<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <toolbar-text-button (click)="onCancelClicked()">Cancel</toolbar-text-button>
    </ion-buttons>
    <ion-title>{{ form.value.title }}</ion-title>
    <ion-buttons slot="end">
      <toolbar-text-button (click)="onSaveClicked()">Save</toolbar-text-button>
    </ion-buttons>
    <ion-progress-bar type="indeterminate" *ngIf="isSavingRaffle$()"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <shared-form-photo [formControl]="form.controls.prizeThumbnail" [placeholder]="'Select a photo for the prize'"
      [readonly]="false" [alt]="'Raffle Prize Thumbnail'"></shared-form-photo>

    <!-- Video Upload Section -->
    <shared-form-file-picker [formControl]="form.controls.prizeVideo" [fileType]="FilePickerFileType.Video"
      fileTypeLabel="Prize Video"></shared-form-file-picker>

    <ion-card-header>
      <ion-card-title>
        <ion-input [formControl]="form.controls.title" placeholder="Raffle Title"></ion-input>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-textarea [formControl]="form.controls.description" placeholder="Raffle description"
        [autoGrow]="true"></ion-textarea>

      <div class="w-100 flex-row gap-1 ion-padding-vertical">
        <ion-card class="custom-card flex-fill ion-text-center" style="background-color: var(--ion-background-color)"
          id="start-date-modal-trigger">
          <ion-card-header>
            <ion-card-title>Start</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ form.value.startDate | date: 'shortDate' }}<br />{{ form.value.startDate | date: 'shortTime' }}
          </ion-card-content>
        </ion-card>
        <ion-modal #startDateModal trigger="start-date-modal-trigger">
          <ng-template>
            <ion-toolbar>
              <ion-buttons slot="end">
                <ion-button (click)="startDateModal.dismiss()">Done</ion-button>
              </ion-buttons>
            </ion-toolbar>
            <ion-datetime [formControl]="form.controls.startDate" presentation="date-time" [preferWheel]="true"
              size="cover"></ion-datetime>
          </ng-template>
        </ion-modal>

        <ion-card class="custom-card flex-fill ion-text-center" style="background-color: var(--ion-background-color)"
          id="end-date-modal-trigger">
          <ion-card-header>
            <ion-card-title>End</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ form.value.endDate | date: 'shortDate' }}<br />{{ form.value.endDate | date: 'shortTime' }}
          </ion-card-content>
        </ion-card>
        <ion-modal #endDateModal trigger="end-date-modal-trigger">
          <ng-template>
            <ion-toolbar>
              <ion-buttons slot="end">
                <ion-button (click)="endDateModal.dismiss()">Done</ion-button>
              </ion-buttons>
            </ion-toolbar>
            <ion-datetime [formControl]="form.controls.endDate" presentation="date-time" [preferWheel]="true"
              size="cover"></ion-datetime>
          </ng-template>
        </ion-modal>
      </div>
    </ion-card-content>

  </ion-card>
</ion-content>