<ion-card 
  class="custom-card"
  style="
    --card-width: 9rem;
    --card-padding: 0.75rem;
    --card-items-gap: 0.5rem;
    --card-title-size: 1rem;
  "
>
  <ion-card-header>
    <ion-card-title>{{ team.school.name }}</ion-card-title>
    <ion-card-subtitle>{{ team.sport.name }}</ion-card-subtitle>
  </ion-card-header>

  <ion-button size="small" [fill]="favorited ? 'solid' : 'outline'">
    <ion-icon slot="start" [name]="favorited ? 'star' : 'star-outline'"></ion-icon>
    Favorite
  </ion-button>
</ion-card>
